.job-link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none; /* Optional: remove the underline */
    color: #007bff; /* Bootstrap primary color, or choose your own */
    font-size: small;
}

.job-link:hover {
    text-decoration: underline; /* Hover effect */
    color: #0056b3; /* Darker shade for hover, or choose your own */
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid black;
}
